body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    width: 600px;
    border-collapse: separate; /*  collapse -> fica 1px para borda, para ficar próxima a outra */
}

th, td {
        padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #788fa7;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #98a8b3;
}

tr:hover {
    background-color: #8facac;
}

.numero {
    text-align: right;
}
