/*Herança e especificidade*/

/*
p{
    color: blue; 
}

p{
    color: red;
}
*/

/*Se o seletor for mais especifico que o outro a regra especifica será aplicada
(terá procedencia sobre regras mais gerais )*/

*{
    color: red;
}

h2{
    color: blue;
}

h2.verde{
    color: green;
}

h2#amarelo{
    color: yellow;
}

/* aplica de baixo pra cima, e o seletor tem que está mais especifico*/