body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #6433d7 url(./imagens/fundo.jpg) no-repeat top center;
} 

#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);  /* rgba transparente */
    border-radius: 20px; /* deixa o container arrendodado */
    margin: 0 auto; /* centraliza */
    margin-top: 120px;  /* adiciona uma margin superior ao container */
    text-align: center; /* adiciona a imagem ao centro do container */
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

input.email {
    background-image: url(./imagens/icone-usuario.png) 
}

input.senha {
    background-image: url(./imagens/icone-cadeado.png) 
}

input.submit {
    color: #fff;
    background-color: #5e5d97;
    border: 2px solid #10064f;
    padding:  5px 20px;
    width: 90%;
    height: 45px;
    background: linear-gradient(to bottom, #5e5d97, #10064f );
}